body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-image {
    background-image: url('/images/iPhone_home.webp');
    width: 360px;
    height: 800px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
}

.background-image::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
}

#pokedex-icon {
    width: 60px;
    height: 60px;
    display: block;
    position: absolute;
    top: 450px;
    left: 24px;
    transition: transform 0.8s ease-out, opacity 0.3s ease-in-out;
    z-index: 1;
    filter: brightness(1);
    animation: flash 1s infinite;
    animation-delay: 1s;
    transform-origin: left top;
}

#pokedex-icon:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.background-image:hover::before {
    opacity: 1;
}

@keyframes flash {
    0%, 100% {
        filter: brightness(.95);
    }
    50% {
        filter: brightness(1.1);
    }
}

/* ... (previous CSS remains unchanged) ... */

#scaling-solid {
    position: absolute;
    background-color: #FFE600;
    width: 60px;
    height: 30px;
    top: 450px;
    left: 24px;  /* Adjusted from 24px to 8px */
    border-radius: 30px 30px 0 0;
    transform-origin: center bottom;
    z-index: 0;
    transition: transform 0.4s ease-out, transform-origin 0.8s ease-out;
}

@keyframes scaleAnimation {
    0%, 40% {
        transform: scaleX(6) scaleY(1);
        border-radius: 0;
        transform-origin: left top;
        top: 440px;
        left: 0px;
    }
    
    100% {
        transform-origin: left top;
        transform: scaleX(6) scaleY(27);
        border-radius: 0;
        top: 0px; /* Adjusted to move it up */
        left: 0px; /* Adjusted to move it to the left */
    }
}

#scaling-solid.clicked {
    animation: scaleAnimation .8s cubic-bezier(0.25, 1, 0.5, 1) forwards;
    background-color: #FFE600;
    border-radius: 0px;
}

#pokedex-icon.clicked {
    transform: scale(6.12) translate(calc(50% - 34.5px), calc(50% - 60px));
    transition: transform 1s cubic-bezier(0.25, 1, 0.5, 1);
    animation: none;
}
