body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-image {
    background-image: url('/images/iPhone_home.webp');
    width: 360px;
    height: 800px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    transition: width 0.3s ease, height 0.3s ease;
    position: relative;
}

.background-image:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.background-image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0);
    pointer-events: none;
    transition: background-color 0.3s ease;
}

#pokedex-icon {
    width: 16%;
    height: 16%;
    display: block;
    position: absolute;
    top: 52%;
    left: 7%;
    animation: flash 1s infinite;
    transform: scale(1);
    transition: transform 0.3s ease;
}

#pokedex-icon:hover {
    cursor: pointer;
    transform: scale(6.30) translate(35%, -15%);
}


/*#pokedex-icon.clicked {
    transform: scale(6.05) translate(34.5%, -15%);
}*/

@keyframes flash {
    0%, 100% {
        filter: brightness(.95);
    }
    50% {
        filter: brightness(1.1);
    }
}
